@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

body {
  background-color: rgb(51, 51, 51);
}

input {

  font-family: "Karantina", system-ui;
  font-size: 30px;

  max-width: 300px;
  width: 30%;
  
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;

  margin-left: 30px;
  
}
button {
  font-family: "Karantina", system-ui;
  font-size: 30px;
  
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background-color:rgb(255, 255, 255);

  margin-right: 125px;
  margin-top: 45px;
  
}
button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.App-link {
  color: #61dafb;
}
