@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

body {
  background-color: rgb(51, 51, 51);
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer .textContainer {
  text-align: right;
  margin-right: 70px;
}

.logoContainer img {
  width: 150px;
  height: 159px;
  margin-top: 45px;
}

.logoContainer h1 {
  text-align: center;
  font-family: "Concert One", sans-serif;
  font-size: 50px;
  letter-spacing: 20px;
  color: rgb(255, 215, 0);
}

.logoContainer h2 {
  font-size: 22.5px;
  text-align: center;
  font-family: "Concert One", sans-serif;
  color: rgb(255, 215, 0);
}

.InputBox {
  font-family: "Karantina", system-ui;
  font-size: 22.5px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-right:50px;
}

.InputBox h1 {
  width: 225px;
  margin: 0;
  color: rgb(208, 194, 175);
  text-align:center;
}

.InputBox input {
  max-width: 300px;
  width: 30%;

  font-family: "Karantina", system-ui;
  font-size: 30px;
  
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;

  margin-left: 30px;
  
}

button {
  font-family: "Karantina", system-ui;
  font-size: 30px;
  
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background-color:rgb(255, 255, 255);

  margin-right: 125px;
  margin-top: 25px;
}
button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.InputSection {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 25px;
  margin-left: 200px;
  ;
}

.mapContainer {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 0; /* Align to the bottom of the screen */
  right: 0; /* Align to the right side of the screen */
  margin: 50px; /* Adjust margin as needed */
  margin-right: 175px;
  z-index: 999; /* Ensure it's above other content */
  border-radius: 30px; /* Round the corners */
  overflow: hidden; /* Ensure content inside the container doesn't overflow */
}

/* Plane.css */
.planeCard {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
  color: white; /* Set text color to white */
}

.planeCard h1 {
  color: rgb(255, 215, 0);
  font-family: "Concert One", sans-serif
}

/* RadarBox.css */
.radar-box {
  background-color: #292929; /* Slightly darker gray */
  font-family: "Concert One", sans-serif;
  padding: 20px;
  border-top-left-radius: 20px;
  box-shadow: 0 0 20px rgb(255, 255, 255);
  color: white; /* Set text color to white */
  height: 410px; /* Set a specific height */
  overflow-y: auto; /* Add vertical scrollbar if content exceeds the height */
  max-width: 300px;
}
.radar-box h2 {
  font-size: 40px;
}
.danger {
  color: #f50000;
}

.DB_Section {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 250px;
  bottom: 0;
  left: 0;
  margin: 175px;
  margin-left: 500px;
}

.App-link {
  color: #61dafb;
}
