@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

body {
  background-color: rgb(51, 51, 51);
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer .textContainer {
  text-align: right;
  margin-right: 70px;
}

.logoContainer img {
  width: 150px;
  height: 159px;
  margin-top: 45px;
}

.logoContainer h1 {
  text-align: center;
  font-family: "Concert One", sans-serif;
  font-size: 50px;
  letter-spacing: 20px;
  color: rgb(255, 215, 0);
}

.logoContainer h2 {
  font-size: 22.5px;
  text-align: center;
  font-family: "Concert One", sans-serif;
  color: rgb(255, 215, 0);
}

.InputBox {
  font-family: "Karantina", system-ui;
  font-size: 22.5px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-right:50px;
}

.InputBox h1 {
  width: 225px;
  margin: 0;
  color: rgb(208, 194, 175);
  text-align:center;
}

.InputBox input {
  max-width: 300px;
  width: 30%;

  font-family: "Karantina", system-ui;
  font-size: 30px;
  
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;

  margin-left: 30px;
  
}

.InputSection button {
  font-family: "Karantina", system-ui;
  font-size: 30px;
  
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background-color:rgb(255, 255, 255);

  margin-right: 125px;
  margin-top: 25px;
}
.InputSection button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.InputSection {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 25px;
  margin-left: 200px;
  ;
}

.App-link {
  color: #61dafb;
}
